{% extends "comm/header.html" %}
{% block view_title %}{{ view_title }} {% endblock %}

{% block script_list %}
    {% load static %}

    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown()
        });
    </script>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    </div>

    {% for group in sector_group %}
        {% for name,stock_itmes in group.items %}
            <div class="btn-group" style="margin: 10px">
                <button class="btn btn-primary" type="button"
                        onclick="location.replace('{{ name }}')">{{ name }}</button>

                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    {% for stock in stock_itmes %}
                        <a class="dropdown-item" href="{{ stock }}">{{ stock }}</a>
                    {% endfor %}
                    {% comment %}<a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>{% endcomment %}
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    {% include 'comm/page.html' %}

{% endblock %}