{% extends "comm/header.html" %}
{% block view_title %}{{ view_title }} {% endblock %}

{% block script_list %}
    {% load static %}

    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    </div>

    {% for sector in sectors %}
        <div class="card" style="width: 18rem;">
            <div class="card-body" style="cursor: pointer;">
                <h5 class="card-title" onclick="location.replace('{{ sector.id }}')">{{ sector.name }}</h5>
            </div>
        </div>
        <br>
    {% endfor %}

    {% include 'comm/page.html' %}

{% endblock %}