{% extends "comm/header.html" %}
{% block view_title %}{{ view_title }} {% endblock %}

{% block script_list %}
    {% load static %}

    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}

{% block content %}

        {% for stock in stock_items %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ stock.name }} ({{ stock.code }})</h5>
                    <a class="btn btn-primary" href="{{ stock.code }}">Detail</a>
                    <input type="button" class="btn btn-info" value="Pivot 입력" onclick="openWindow('{{ stock.code }}/pivot', 400, 600)">
                </div>
            </div>
        {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ page_obj.previous_page_number }}">prev</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_page }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}