{% extends "comm/header.html" %}
{% block view_title %}{{ view_title }} {% endblock %}

{% block script_list %}
    {% load static %}

    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    </div>

    <div class="row">
        {% for stock in stock_items %}
            <div class="col-sm-3">
                <div class="card" style="width: 18rem; float; ">
                    <div class="card-body" style="cursor: pointer;">
                        <h5 class="card-title" onclick="location.replace('{{ stock.code }}')">{{ stock.name }}
                            ({{ stock.code }})</h5>
                        <input type="button" class="btn btn-info" value="Pivot 입력"
                               onclick="openWindow('{{ stock.code }}/pivot', 'pivot', 300, 700)">
                        <input type="button" class="btn btn-info" value="재무정보 입력" disabled
                               onclick="openWindow('{{ stock.code }}/finance-info', 'financial', 300, 700)">
                    </div>
                </div>
            <br>
            </div>
        {% endfor %}
    </div>
    <br>

    {% include 'comm/page.html' %}

{% endblock %}