{% extends "comm/header.html" %}
{% block view_title %}{{ view_title }} {% endblock %}

{% block script_list %}
    {% load static %}

    {% csrf_token %}
    <script>
        var CSRF_TOKEN;

        function delete_finance_info()
        {
            $(".delete_finance_info").click(function () {
                $.ajax({
                    type: 'DELETE',
                    url: '/stocks/item/' + $(this).attr('stock_items_code') + '/finance-info',
                    accept: 'application/json',
                    dataType: 'json',
                    processData: false,
                    data: JSON.stringify({'year': $(this).attr('year')}),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', CSRF_TOKEN)
                        xhr.setRequestHeader('Content-Type', 'application/json')
                    },
                    success: function (result) {
                        console.log('Success');
                        console.log(result);
                        if (result.code === '0000') {
                            location.reload();
                        }
                        else {
                            alert(result.msg);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('Error ' + errorThrown);
                    }
                })
            });
        }

        $(document).ready(function () {
            CSRF_TOKEN = $("input[name=csrfmiddlewaretoken]").val();

            delete_finance_info();
        });
    </script>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>{{ stock_item.name }} ({{ stock_item.code }})</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        onclick="request_ajax_n_reload('/stocks/item/{{ stock_item.code }}/scrap-financial')">재무정보
                    갱신
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        onclick="request_ajax_n_reload('/stocks/item/{{ stock_item.code }}/scrap-demand')">수급 갱신
                </button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-calendar">
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                    <line x1="16" y1="2" x2="16" y2="6"></line>
                    <line x1="8" y1="2" x2="8" y2="6"></line>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg>
                Nothing
            </button>
        </div>
    </div>

    <h4>Pivot Table</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">날짜</th>
            <th scope="col">전일 종가</th>
            <th scope="col">전일 고가</th>
            <th scope="col">전일 저가</th>
            <th scope="col">구매 적정가</th>
            <th scope="col">3차 저항선</th>
            <th scope="col">2차 저항선</th>
            <th scope="col">1차 저항선</th>
            <th scope="col">1차 지지선</th>
            <th scope="col">2차 지지선</th>
            <th scope="col">3차 지지선</th>
        </tr>
        </thead>
        <tbody>
        {% for p in pivot %}
            <tr>
                <th scope="row">{{ p.date | date:"Y-m-d" }}</th>
                <td>{{ p.prev_closing_price }}</td>
                <td>{{ p.prev_high_price }}</td>
                <td>{{ p.prev_low_price }}</td>
                <th scope="row">{{ p.recommend_high_price }} ~ {{ p.recommend_low_price }}</th>
                <td>{{ p.resist_line_3 }}</td>
                <td>{{ p.resist_line_2 }}</td>
                <td>{{ p.resist_line_1 }}</td>
                <td>{{ p.support_line_1 }}</td>
                <td>{{ p.support_line_2 }}</td>
                <td>{{ p.support_line_3 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>
    <h4>Finance Information</h4>
    <table class="table table-bordered table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">매출액(억원)</th>
            <th scope="col">YoY(%)</th>
            <th scope="col">영업이익(억원)</th>
            <th scope="col">당기순이익(억원)</th>
            <th scope="col">EPS(원)</th>
            <th scope="col">PER(배)</th>
            <th scope="col">PBR(배)</th>
            <th scope="col">ROE(%)</th>
            <th scope="col">EV/EBITDA(배)</th>
            <th scope="col">순부채비율(%)</th>
            <th scope="col">EPS*ROE</th>
            <th scope="col">EPS*ROE*Multiple</th>
        </tr>
        </thead>
        <tbody>
        {% load mathfilters %}
        {% load humanize %}
        {% for f in finance_info %}
            <tr>
                <th scope="row"><p>{{ f.year }}</p></th>
                <td><p>{{ f.total_sales|intcomma }}</p></td>
                <td><p>{{ f.total_sales_yoy }}%</p></td>
                <td><p>{{ f.business_profit|intcomma }}</p></td>
                <td><p>{{ f.net_profit|intcomma }}</p></td>
                <td><p>{{ f.eps|intcomma }}</p></td>
                <td><p>{{ f.per }}</p></td>
                <td><p>{{ f.pbr }}</p></td>
                <td><p>{{ f.roe }}</p></td>
                <td><p>{{ f.evebitda }}</p></td>
                <td><p>{{ f.debt_ratio }}</p></td>
                <td><p>{{ f.epsroe|intcomma }}원</p></td>
                <td><p>{{ f.epsroe|mul:stock_item.stock_section_multiple_id__multiple|floatformat:"0"|intcomma }}원</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>
    <h4>Demand Information</h4>
    <table class="table table-bordered table-hover table-sm">
        <thead>
        <tr>
            <th scope="col" colspan="4">외국인</th>
            <th scope="col" colspan="4">기관</th>
        </tr>
        <tr>
            <th scope="col">5일</th>
            <th scope="col">10일</th>
            <th scope="col">15일</th>
            <th scope="col">20일</th>
            <th scope="col">5일</th>
            <th scope="col">10일</th>
            <th scope="col">15일</th>
            <th scope="col">20일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for sd in summary_demand_info %}
                {% if sd.0 > 0 %}
                    <td><p style="color: red;">{{ sd.0 }}</p></td>
                {% else %}
                    <td><p style="color: blue;">{{ sd.0 }}</p></td>
                {% endif %}
            {% endfor %}
            {% for sd in summary_demand_info %}
                {% if sd.1 > 0 %}
                    <td><p style="color: red;">{{ sd.1 }}</p></td>
                {% else %}
                    <td><p style="color: blue;">{{ sd.1 }}</p></td>
                {% endif %}
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-hover table-sm">
        <thead>
        <tr>
            <th scope="col" rowspan="2">일자</th>
            <th scope="col" colspan="3">외국인</th>
            <th scope="col">기관</th>
            <th scope="col" rowspan="2">종가</th>
            <th scope="col" rowspan="2">전일 대비</th>
            <th scope="col" rowspan="2">등락률(%)</th>
        </tr>
        <tr>
            <th scope="col">보유주식수</th>
            <th scope="col">지분율(%)</th>
            <th scope="col">순매수량</th>
            <th scope="col">순매수량</th>
        </tr>
        </thead>
        <tbody>
        {% for d in demand_info %}
            <tr>
                <th scope="row"><p>{{ d.date }}</p></th>
                <td><p>{{ d.foreign_total_own|intcomma }}</p></td>
                <td><p>{{ d.foreign_total_own_ratio }}%</p></td>
                {% if d.foreign_purchase_volume > 0 %}
                    <td><p style="color: red;">{{ d.foreign_purchase_volume }}</p></td>
                {% else %}
                    <td><p style="color: blue;">{{ d.foreign_purchase_volume }}</p></td>
                {% endif %}
                {% if d.company_purchase_volume > 0 %}
                    <td><p style="color: red;">{{ d.company_purchase_volume }}</p></td>
                {% else %}
                    <td><p style="color: blue;">{{ d.company_purchase_volume }}</p></td>
                {% endif %}
                <th scope="row"><p>{{ d.closing_price }}</p></th>
                {% if '▲' in d.compare_prev_day %}
                    <td><p style="color: red;">{{ d.compare_prev_day }}</p></td>
                {% else %}
                    <td><p style="color: blue;">{{ d.compare_prev_day }}</p></td>
                {% endif %}

                <td><p>{{ d.fluctuation_ratio }}%</p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}