{% extends "comm/header_popup.html" %}
{% block view_title %}{{ view_title }} {% endblock %}

{% block script_list %}
    {% load static %}

    <script>
        $(document).ready(function () {
            var total_capital = $("#total_capital"),
                total_sales = $("#total_sales"),
                net_profit = $("#net_profit"),
                number_of_shares = $("#number_of_shares"),
                current_price = $("#current_price"),
                eps = $("#eps"),
                per = $("#per"),
                bps = $("#bps"),
                pbr = $("#pbr"),
                roe = $("#roe");

            $("#total_capital, #total_sales, #net_profit, #number_of_shares, #current_price").on('propertychange change keyup paste input', function () {

                if (net_profit.val() !== '' && number_of_shares.val() !== '') {
                    eps.val(net_profit.val() / number_of_shares.val());
                }

                if (current_price.val() !== '' && eps.val() !== '') {
                    per.val(current_price.val() / eps.val());
                }

                if (total_capital.val() !== '' && number_of_shares.val() !== '') {
                    bps.val(total_capital.val() / number_of_shares.val());
                }

                if (current_price.val() !== '' && bps.val() !== '') {
                    pbr.val(current_price.val() / bps.val());
                }

                if (net_profit.val() !== '' && total_capital.val() !== '') {
                    roe.val((net_profit.val() / total_capital.val()) * 100);
                }

            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="form-row">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">자본총액</span>
                <span class="input-group-text" id="basic-addon1">￦</span>
            </div>
            <input type="number" class="form-control" id="total_capital" aria-label="total_capital">
        </div>

        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">매출액</span>
                <span class="input-group-text" id="basic-addon1">￦</span>
            </div>
            <input type="number" class="form-control" id="total_sales" aria-label="total_sales">
        </div>

        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">순이익</span>
                <span class="input-group-text" id="basic-addon2">￦</span>
            </div>
            <input type="number" class="form-control" id="net_profit" aria-label="net_profit">
        </div>

        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">발행주식수</span>
            </div>
            <input type="number" class="form-control" id="number_of_shares" aria-label="number_of_shares">
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">현재 주가</span>
            </div>
            <input type="number" class="form-control" id="current_price" aria-label="current_price">
        </div>
    </div>

    <hr>

    <div class="form-row">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">EPS</span>
                <span class="input-group-text" id="basic-addon1">￦</span>
            </div>
            <input type="number" class="form-control" placeholder="주당 순이익 (당기순이익/발행주식수)" id="eps" aria-label="eps"
                   readonly>
        </div>

        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">PER</span>
                <span class="input-group-text" id="basic-addon1">배</span>
            </div>
            <input type="number" class="form-control" placeholder="주가 수익비율 (현재주가/EPS)" id="per" aria-label="per"
                   readonly>
        </div>

        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">BPS</span>
                <span class="input-group-text" id="basic-addon1">￦</span>
            </div>
            <input type="number" class="form-control" placeholder="주당 순자산가치 (기업 순자산/발행주식수)" id="bps" aria-label="bps"
                   readonly>
        </div>

        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">PBR</span>
                <span class="input-group-text" id="basic-addon1">배</span>
            </div>
            <input type="number" class="form-control" placeholder="주가 순자산비율 (현재주가/BPS)" id="pbr" aria-label="pbr"
                   readonly>
        </div>

        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">ROE</span>
                <span class="input-group-text" id="basic-addon1">%</span>
            </div>
            <input type="number" class="form-control" placeholder="자기 자본이익률 (당기순이익/자본총액)" id="roe" aria-label="roe"
                   readonly>
        </div>
    </div>

{% endblock %}