{% extends "comm/header.html" %}
{% block view_title %}{{ view_title }} {% endblock %}

{% load static %}
{% load view_help_tag %}

{% block script_list %}
    {% comment %}
    https://www.chartjs.org/docs/latest/charts/line.html
    https://www.chartjs.org/docs/latest/general/responsive.html
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'comm/Chart.js-2.9.3/Chart.min.css' %}">
    <script src={% static 'comm/Chart.js-2.9.3/Chart.min.js' %}></script>
    {% csrf_token %}

    <script>
        var CSRF_TOKEN;
        var PRICE_CHART;

        function set_dates_and_search(delta)
        {
            var date = new Date();
            date.setMonth(date.getMonth() - delta);
            $("#from_date").val(date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2));
            set_stock_price_chart_datasets();
        }

        function delete_finance_info()
        {
            $(".delete_finance_info").click(function () {
                $.ajax({
                    type: 'DELETE',
                    url: '/stocks/company/' + $(this).attr('stock_items_code') + '/finance-info',
                    accept: 'application/json',
                    dataType: 'json',
                    processData: false,
                    data: JSON.stringify({'year': $(this).attr('year')}),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', CSRF_TOKEN)
                        xhr.setRequestHeader('Content-Type', 'application/json')
                    },
                    success: function (result) {
                        console.log('Success');
                        console.log(result);
                        if (result.code === '0000') {
                            location.reload();
                        }
                        else {
                            alert(result.msg);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('Error ' + errorThrown);
                    }
                })
            });
        }

        function set_stock_price_chart_datasets()
        {
            $.ajax({
                type: 'GET',
                url: '{{ request.path }}/chart/' + $("#from_date").val() + '/' + $("#to_date").val(),
                accept: 'application/json',
                dataType: 'json',
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', CSRF_TOKEN)
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (result) {
                    var index = 0;
                    $.each(result.datasets, function (key, data) {
                        PRICE_CHART.data
                        PRICE_CHART.data.datasets[index++].data = data
                    });
                    {#PRICE_CHART.data.datasets[0].data = result.datasets;#}
                    PRICE_CHART.data.labels = result.labels;
                    PRICE_CHART.update();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
        }

        function set_stock_price_chart()
        {
            var ctx = $("#price_chart");
            PRICE_CHART = new Chart(ctx, {
                type: 'line',
                // The data for our dataset
                data: {
                    datasets: [
                        {
                            label: '종가',
                            borderColor: "rgba(0,0,0,0.8)",
                            backgroundColor: "rgba(0,0,0, 0.5)",
                            pointRadius: 0,
                            fill: true,
                        },
                        {
                            label: '고가',
                            borderColor: "rgba(255,0,0, 0.8)",
                            pointRadius: 0,
                            fill: false,
                        },
                        {
                            label: '저가',
                            borderColor: "rgba(0,0,255, 0.8)",
                            pointRadius: 0,
                            fill: false,
                        },
                    ]
                },
                // Configuration options go here
                options: {
                    responsive: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                callback: function (value, index, values) {
                                    {#return value.toLocaleString("ko-KR", {style: "currency", currency: "WON"});#}
                                    return '￦' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                }
                            }
                        }]
                    }
                }
            });
        }

        $(document).ready(function () {
            CSRF_TOKEN = $("input[name=csrfmiddlewaretoken]").val();
            delete_finance_info();

            set_stock_price_chart();
            set_stock_price_chart_datasets();
        });
    </script>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3>
            {{ stock.stock_name }} ({{ stock.stock_code }})
            {% if has_stock_price %}
                <span class="badge badge-primary">주가 추적중</span>
            {% endif %}
        </h3>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        onclick="request_ajax_n_reload('/stocks/company/{{ stock.stock_code }}/scrap-financial')">재무정보
                    갱신
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        onclick="request_ajax_n_reload('/stocks/company/{{ stock.stock_code }}/scrap-demand')">수급 갱신
                </button>
            </div>
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        onclick="window.open('https://finance.naver.com/item/main.nhn?code={{ stock.stock_code }}', '_blank')">
                    NAVER 종목 보기
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        onclick="window.open('http://consensus.hankyung.com/apps.analysis/analysis.list?sdate=2020-09-08&edate=2020-10-08&now_page=1&search_value=&report_type=&pagenum=20&search_text={{ stock.stock_name }}', '_blank')">
                    기업 리포트 보기
                </button>
            </div>
        </div>
    </div>

    {% if has_stock_price %}
        <div class="form-row align-items-center">
            <div class="col-sm-2">
                <label for="from_date"></label>
                <input type="text" class="form-control" id="from_date" value="{% day_subtract 90 %}">
            </div>
            <div class="col-sm-2">
                <label for="to_date"></label>
                <input type="text" class="form-control" id="to_date" value="{% current_date %}">
            </div>
            <div class="col-sm-auto">
                <input type="button" class="btn btn-outline-dark" value="1개월" onclick="set_dates_and_search(1)">
                <input type="button" class="btn btn-outline-dark" value="3개월" onclick="set_dates_and_search(3)">
                <input type="button" class="btn btn-outline-dark" value="6개월" onclick="set_dates_and_search(6)">
                <input type="button" class="btn btn-outline-dark" value="1년" onclick="set_dates_and_search(12)">
                <input type="button" class="btn btn-outline-dark" value="3년" onclick="set_dates_and_search(36)">
                <input type="button" class="btn btn-outline-dark" value="5년" onclick="set_dates_and_search(60)">
                <input type="button" class="btn btn-outline-dark" value="10년" onclick="set_dates_and_search(120)">
                <input type="button" class="btn btn-outline-dark" value="전체" onclick="set_dates_and_search(999)">
            </div>
        </div>
        <div style="position: relative;">
            <canvas id="price_chart" width="400" height="150" role="img" aria-label="Stock Price Chart"></canvas>
        </div>
        <hr>
    {% endif %}

    <h4>Pivot Table</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">날짜</th>
            <th scope="col">전일 종가</th>
            <th scope="col">전일 고가</th>
            <th scope="col">전일 저가</th>
            <th scope="col">구매 적정가</th>
            <th scope="col">3차 저항선</th>
            <th scope="col">2차 저항선</th>
            <th scope="col">1차 저항선</th>
            <th scope="col">1차 지지선</th>
            <th scope="col">2차 지지선</th>
            <th scope="col">3차 지지선</th>
        </tr>
        </thead>
        <tbody>
        {% for p in pivot %}
            <tr>
                <th scope="row">{{ p.date | date:"Y-m-d" }}</th>
                <td>{{ p.prev_closing_price }}</td>
                <td>{{ p.prev_high_price }}</td>
                <td>{{ p.prev_low_price }}</td>
                <th scope="row">{{ p.recommend_high_price }} ~ {{ p.recommend_low_price }}</th>
                <td>{{ p.resist_line_3 }}</td>
                <td>{{ p.resist_line_2 }}</td>
                <td>{{ p.resist_line_1 }}</td>
                <td>{{ p.support_line_1 }}</td>
                <td>{{ p.support_line_2 }}</td>
                <td>{{ p.support_line_3 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>
    <h4>Finance Information</h4>
    <table class="table table-bordered table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">매출액(억원)</th>
            <th scope="col">YoY(%)</th>
            <th scope="col">영업이익(억원)</th>
            <th scope="col">당기순이익(억원)</th>
            <th scope="col">EPS(원)</th>
            <th scope="col">PER(배)</th>
            <th scope="col">PBR(배)</th>
            <th scope="col">ROE(%)</th>
            <th scope="col">EV/EBITDA(배)</th>
            <th scope="col">순부채비율(%)</th>
            <th scope="col">EPS*ROE</th>
            <th scope="col">EPS*ROE*PBR</th>
        </tr>
        </thead>
        <tbody>
        {% load mathfilters %}
        {% load humanize %}
        {% for f in finance_info %}
            <tr>
                <th scope="row"><p>{{ f.year }}</p></th>
                <td><p>{{ f.total_sales|intcomma }}</p></td>
                <td><p>{{ f.total_sales_yoy }}%</p></td>
                <td><p>{{ f.business_profit|intcomma }}</p></td>
                <td><p>{{ f.net_profit|intcomma }}</p></td>
                <td><p>{{ f.eps|intcomma }}</p></td>
                <td><p>{{ f.per }}</p></td>
                <td><p>{{ f.pbr }}</p></td>
                <td><p>{{ f.roe }}</p></td>
                <td><p>{{ f.evebitda }}</p></td>
                <td><p>{{ f.debt_ratio }}</p></td>
                <td><p>{{ f.epsroe|intcomma }}원</p></td>
                {% comment %}<td><p>{{ f.epsroe|mul:stock_item.stock_section_multiple_id__multiple|floatformat:"0"|intcomma }}원</p>{% endcomment %}
                <td><p>{{ f.epsroe|mul:f.pbr|floatformat:"0"|intcomma }}원</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>
    <h4>Demand Information</h4>
    <table class="table table-bordered table-hover table-sm">
        <thead>
        <tr>
            <th scope="col" colspan="4">외국인</th>
            <th scope="col" colspan="4">기관</th>
        </tr>
        <tr>
            <th scope="col">5일</th>
            <th scope="col">10일</th>
            <th scope="col">20일</th>
            <th scope="col">30일</th>

            <th scope="col">5일</th>
            <th scope="col">10일</th>
            <th scope="col">20일</th>
            <th scope="col">30일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for sd in summary_demand_info %}
                {% if sd.0 > 0 %}
                    <td><p style="color: red;">{{ sd.0|intcomma }}</p></td>
                {% else %}
                    <td><p style="color: blue;">{{ sd.0|intcomma }}</p></td>
                {% endif %}
            {% endfor %}
            {% for sd in summary_demand_info %}
                {% if sd.1 > 0 %}
                    <td><p style="color: red;">{{ sd.1|intcomma }}</p></td>
                {% else %}
                    <td><p style="color: blue;">{{ sd.1|intcomma }}</p></td>
                {% endif %}
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-hover table-sm">
        <thead>
        <tr>
            <th scope="col" rowspan="2">일자</th>
            <th scope="col" colspan="3">외국인</th>
            <th scope="col">기관</th>
            <th scope="col" rowspan="2">종가</th>
            <th scope="col" rowspan="2">전일 대비</th>
            <th scope="col" rowspan="2">등락률(%)</th>
        </tr>
        <tr>
            <th scope="col">보유주식수</th>
            <th scope="col">지분율(%)</th>
            <th scope="col">순매수량</th>
            <th scope="col">순매수량</th>
        </tr>
        </thead>
        <tbody>
        {% for d in demand_info %}
            <tr>
                <th scope="row"><p>{{ d.date }}</p></th>
                <td><p>{{ d.foreign_total_own|intcomma }}</p></td>
                <td><p>{{ d.foreign_total_own_ratio }}%</p></td>
                {% if d.foreign_purchase_volume > 0 %}
                    <td><p style="color: red;">{{ d.foreign_purchase_volume|intcomma }}</p></td>
                {% else %}
                    <td><p style="color: blue;">{{ d.foreign_purchase_volume|intcomma }}</p></td>
                {% endif %}
                {% if d.company_purchase_volume > 0 %}
                    <td><p style="color: red;">{{ d.company_purchase_volume|intcomma }}</p></td>
                {% else %}
                    <td><p style="color: blue;">{{ d.company_purchase_volume|intcomma }}</p></td>
                {% endif %}
                <th scope="row"><p>{{ d.closing_price|intcomma }}</p></th>
                {% if '▲' in d.compare_prev_day %}
                    <td><p style="color: red;">{{ d.compare_prev_day }}</p></td>
                {% else %}
                    <td><p style="color: blue;">{{ d.compare_prev_day }}</p></td>
                {% endif %}

                <td><p>{{ d.fluctuation_ratio }}%</p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}