{% extends "comm/header.html" %}
{% block view_title %}{{ view_title }} {% endblock %}

{% load static %}

{% block script_list %}
    {% csrf_token %}
    <script>
        function purchase_stock()
        {
            $.ajax({
                type: 'POST',
                url: '{{ request.path }}',
                accept: 'application/json',
                dataType: 'json',
                processData: false,
                data: JSON.stringify({'year': $(this).attr('year')}),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', CSRF_TOKEN)
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (result) {
                    console.log(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            })
        }


        var CSRF_TOKEN;

        $(document).ready(function () {
            CSRF_TOKEN = $("input[name=csrfmiddlewaretoken]").val();


        });
    </script>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    </div>

    <div>
        <h5>종합</h5>
    </div>
    <hr>

    <div>
        <h5>구성 종목</h5>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">종목명</th>
                <th scope="col">미니 차트</th>
                <th scope="col">현재가</th>
                <th scope="col">손익</th>
                <th scope="col">수익률</th>
                <th scope="col">매입금액</th>
                <th scope="col">수량</th>
                <th scope="col">매도</th>
                <th scope="col">매입일</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <input class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#purchase_stock"
               value="종목 추가">
    </div>

    <div class="modal fade" id="purchase_stock" data-backdrop="static" tabindex="-1"
         aria-labelledby="purchase_stock_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">종목 추가</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="stock_name" class="col-form-label">종목</label>
                            <input type="text" class="form-control" id="stock_name" name="stock_name">
                        </div>
                        <div class="form-group">
                            <label for="purchase_count" class="col-form-label">수량</label>
                            <input type="text" class="form-control" id="purchase_count" name="purchase_count">
                        </div>
                        <div class="form-group">
                            <label for="purchase_date" class="col-form-label">매수일</label>
                            <input type="text" class="form-control" id="purchase_date">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">매수</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}