{% extends "comm/header.html" %}
{% block view_title %}{{ view_title }} {% endblock %}

{% load static %}
{% load view_help_tag %}

{% block script_list %}
    {% csrf_token %}

    <script>
        var CSRF_TOKEN;

        function sell_stock()
        {

        }

        function search_stock_autocomplete()
        {
            var stock_name_obj = $("#stock_name"),
                stock_code_obj = $("#stock_code");

            stock_name_obj.autocomplete({
                appendTo: "#purchase_stock_modal",
                source: function (request, response) {
                    $.ajax({
                        type: 'get'
                        , url: '/portfolios/stock/search'
                        , dataType: "json"
                        , data: {
                            term: request.term,
                        }
                        , success: function (result) {
                            response(
                                $.map(result, function (item) {
                                    return {
                                        'code': item.code,
                                        'label': item.name,
                                        'value': item.name,
                                    }
                                })
                            );
                        }
                        , error: function (jqXHR, textStatus, errorThrown) {
                            alert("Search error : " + errorThrown);
                        }
                    });
                },
                minLength: 2,
                autoFocus: true,
                delay: 500,
                classes: {
                    'ui-autocomplete': 'highlight'
                },
                select: function (event, ui) {
                    stock_code_obj.val(ui.item.code);
                    stock_name_obj.val(ui.item.value);
                },
                focus: function (event, ui) {
                    return false;
                },
                close: function (event) {
                }
            });

        }

        $(document).ready(function () {
            CSRF_TOKEN = $("input[name=csrfmiddlewaretoken]").val();
            search_stock_autocomplete();


        });
    </script>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    </div>

    <div>
        <h5>종합</h5>
    </div>
    <hr>

    <div>
        <h5>구성 종목</h5>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">종목명</th>
                <th scope="col">미니 차트</th>
                <th scope="col">현재가</th>
                <th scope="col">손익</th>
                <th scope="col">수익률</th>
                <th scope="col">매입금액</th>
                <th scope="col">수량</th>
                <th scope="col">매입일</th>
                <th scope="col">매도일</th>
            </tr>
            </thead>
            <tbody>
            {% load humanize %}

            {% if portfolio_stock_list is None %}
                <tr>
                    <td colspan="9">매수 종목이 없습니다.</td>
                </tr>
            {% else %}
                {% for stock in portfolio_stock_list %}
                    <tr>
                        <td>{{ stock.stock_name }}</td>
                        <td></td>
                        <td>{{ stock.current_price|intcomma }}</td>

                        {% if stock.income_price >= 0 %}
                            <td style="color: red;">{{ stock.income_price|intcomma }}</td>
                        {% else %}
                            <td style="color: blue;">{{ stock.income_price|intcomma }}</td>
                        {% endif %}

                        {% if stock.income_rate >= 0 %}
                            <td style="color: red;">{{ stock.income_rate }}%</td>
                        {% else %}
                            <td style="color: blue;">{{ stock.income_rate }}%</td>
                        {% endif %}

                        <td>{{ stock.purchase_price|intcomma }}</td>
                        <td>{{ stock.total_stock_count }}</td>
                        <td>{{ stock.purchase_date| date:"Y-m-d" }}</td>
                        {% if stock.sell_date %}
                            <td>{{ stock.sell_date| date:"Y-m-d" }}</td>
                        {% else %}
                            <td><input type="button" class="btn btn-outline-danger" value="매도"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <input class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#purchase_stock_modal"
               value="종목 추가">
    </div>

    <div class="modal fade" id="purchase_stock_modal" data-backdrop="static" tabindex="-1"
         aria-labelledby="purchase_stock_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="{{ request.path }}/stock/purchase">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">종목 추가</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="stock_name" class="col-form-label">종목</label>
                                <input type="text" class="form-control" id="stock_name" name="stock_name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="stock_code" class="col-form-label">코드</label>
                                <input type="text" class="form-control" id="stock_code" name="stock_code" readonly
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="purchase_count" class="col-form-label">수량</label>
                            <input type="text" class="form-control" id="purchase_count" name="purchase_count" required>
                        </div>
                        <div class="form-group">
                            <label for="purchase_date" class="col-form-label">매수일</label>
                            <input type="text" class="form-control" id="purchase_date" name="purchase_date"
                                   value="{% current_date %}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary">매수</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}