{% extends "comm/header.html" %}
{% block view_title %}{{ view_title }} {% endblock %}

{% block script_list %}
    {% load static %}

    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown()
        });
    </script>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    </div>

    {% for sector in sector_list %}
        <div class="btn-group" style="margin: 10px">
            <button class="btn btn-primary" type="button"
                    onclick="location.replace('/sector/{{ sector.id }}')">{{ sector.sector_name }}</button>
            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                {% for group in sector.stock_group %}
                    <a class="dropdown-item" href="/stocks/{{ group.0 }}">{{ group.1 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    {% include 'comm/page.html' %}

{% endblock %}