{% extends "comm/header.html" %}
{% block view_title %}{{ view_title }} {% endblock %}

{% load static %}
{% load view_help_tag %}

{% block script_list %}
    {% csrf_token %}
    <script>
        var CSRF_TOKEN;

        function request_financial_data_sector_image(sector_id, term)
        {
            showGlobalLoading()
            var fd_data_content = $(".fd-data-content");
            fd_data_content.html('')

            $.ajax({
                type: 'GET',
                url: '/stocks/sector/' + sector_id + '/' + term + '/financial/image',
                accept: 'application/json',
                dataType: 'json',
                processData: false,
                success: function (result) {
                    console.log(result)
                    image_path = '/media/' + result.image_path;
                    fd_data_content.html("<img src='" + image_path + "' alt='error'>");
                    removeGlobalLoading()
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                    removeGlobalLoading()
                }
            });
        }

        $(document).ready(function () {
            CSRF_TOKEN = $("input[name=csrfmiddlewaretoken]").val();

        });
    </script>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>{{ sector.sector_name }} (ID:{{ sector.id }})</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        onclick="">Nothing
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        onclick="">Nothing
                </button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-calendar">
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                    <line x1="16" y1="2" x2="16" y2="6"></line>
                    <line x1="8" y1="2" x2="8" y2="6"></line>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg>
                Nothing
            </button>
        </div>
    </div>

    <h6>Companies</h6>
    {% for stock in stock_list %}
        <a href="/stocks/company/{{ stock.stock_code }}" class="badge badge-primary">{{ stock.stock_name }}</a>
    {% endfor %}
    <hr>

    <h6>Compare Finance Info</h6>
{#    <table class="table table-hover">#}
{#        {% load humanize %}#}
{#        {% for company_name, data in finance_info.items %}#}
{#            {{ company_name }} {{ data }}<br>#}
{#        {% endfor %}#}
{#    </table>#}
    <hr>

    <h6>Compare Sector Stock Price</h6>
    {% autoescape off %}
        {% request_financial_data_sector_btns sector.id %}
    {% endautoescape %}

    <div class="fd-data-content"></div>

{% endblock %}